.resizableSection {
  position: relative;
  display: flex;
  flex-direction: column;

  & .resizer {
    height: 100%;
    position: absolute;
    cursor: col-resize;
    width: 5px;
    right: 0;
    top: 0;
  }
}
