.btn {
  padding: var(--space-2) var(--space-4);
  background-color: var(--c-light);

  border: none;
  border-radius: var(--radius-sm);

  box-shadow: var(--shadow-s);
  color: var(--c-default);

  cursor: pointer;
  font-size: var(--text-lg);
  font-weight: 700;

  margin: var(--space-2) 0;

  &:hover {
    background-color: var(--c-hover);
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  cursor: wait;
  opacity: 0.8;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}
