.item {
  cursor: pointer;
  list-style: none;
  & img {
    width: 20px;
    height: 20px;
    margin-right: var(--space-2);
  }

  & button {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: var(--space-2);
    color: var(--c-default);

    &:hover {
      background-color: var(--c-hover);
    }
  }
}
