.auth {
  display: flex;
  justify-content: center;
  align-items: center;

  & form {
    display: flex;
    flex-direction: column;

    background-color: var(--c-foreground);
    padding: var(--space-8);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-m);
    font-size: var(--text-3xl);
    font-weight: 700;
    margin: auto;

    text-align: center;

    & p {
      font-size: var(--text-xl);
      font-weight: 300;
      margin-bottom: var(--space-4);

      & strong {
        color: var(--c-primary);
        cursor: pointer;
        text-shadow: var(--text-shadow-m);
      }
    }
  }
}
