.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h3 {
    font-weight: 300;
    font-size: var(--text-sm);
    color: var(--c-muted);
  }
}

.participantsHeader {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: var(--space-4) var(--space-6) 0 var(--space-6);

  & h2 {
    font-weight: 400;
    font-size: var(--text-lg);
  }

  & img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: var(--space-2);
  }
}

.participantsList {
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  gap: var(--space-3);

  height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--c-muted) transparent;
}

.roleBadge {
  background-color: var(--c-primary);
  color: white;
  font-size: var(--text-xs);
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: auto;
}

.removeButton {
  background: none;
  border: none;
  color: var(--c-error);
  cursor: pointer;
  font-size: var(--text-sm);
  margin-left: auto;
  transition: opacity 0.3s ease;
  opacity: 0;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--space-1);
}

.participantItem:hover .removeButton {
  opacity: 1;
}

.removeButton:hover {
  background-color: var(--c-error);
  color: white;
}
