.chat {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    height: 100%;
    max-height: 100vh;
}

.inputWrapper {
    display: flex;
    width: 100%;
    padding: 0 var(--space-5);
}