.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: safe center;
  z-index: 1000;
  overflow-y: auto;
  padding: var(--space-5);

  background-color: color-mix(in srgb, var(--c-dark) 80%, transparent);
}

.content {
  position: relative;
  max-width: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-2);
  background: transparent;
  border: none;
  cursor: pointer;
  & img {
    width: var(--height-xs);
    height: var(--height-xs);
  }
}
