.content {
  padding: var(--space-4);
  padding-top: var(--space-6);
  border-radius: var(--radius-xl);
  max-width: 400px;
}

.buttons {
  display: flex;
  gap: var(--space-4);
  margin-top: var(--space-6);

  width: 100%;
  justify-content: flex-end;
}
