.scrollAnchor {
  position: sticky;
  bottom: 24px;

  height: 0;
  pointer-events: none;
}

.scrollToBottom {
  pointer-events: auto;

  position: absolute;
  right: 0;
  bottom: 0;

  width: 48px;
  height: 48px;

  opacity: 0;
  transform: translateY(20px) scale(0.9);
  transition: opacity 0.25s ease, transform 0.25s ease;

  background-color: var(--c-foreground);
  box-shadow: var(--shadow-m);
  border-radius: var(--radius-md);

  cursor: pointer;
}

.scrollToBottom.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}


.unreadCount {
  position: absolute;
  top: -6px;
  right: -6px;

  background-color: var(--c-light);

  width: 20px;
  height: 20px;
  padding: var(--space-3);
  box-shadow: var(--shadow-s);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--text-sm);
  font-weight: 700;
}
