.scrollToBottom {
  pointer-events: auto;

  position: fixed;

  bottom: calc(var(--space-5) + var(--height-xl));
  right: var(--space-2);


  width: var(--height-xl);
  height: var(--height-xl);

  opacity: 0;
  transform: translateY(20px) scale(0.9);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;

  background-color: var(--c-foreground);
  box-shadow: var(--shadow-m);
  border-radius: var(--radius-md);

  cursor: pointer;
}

.scrollToBottom.show {
  opacity: 1;

  z-index: 10;
  transform: translateY(0) scale(1);
}

.unreadCount {
  position: absolute;
  top: -6px;
  right: -6px;

  background-color: var(--c-light);

  width: 20px;
  height: 20px;
  padding: var(--space-3);
  box-shadow: var(--shadow-s);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--text-sm);
  font-weight: 700;
}
