.scrollToBottom {
  position: sticky;
  bottom: 24px;

  display: flex;
  margin-left: auto;

  width: 48px;
  height: 48px;
  overflow: hidden;

  border-radius: 50%;
  border: none;

  background: var(--c-foreground);

  cursor: pointer;
  box-shadow: var(--shadow-m);

  opacity: 0;
  transform: translateY(20px) scale(0.9);
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;

  & :hover {
    border-radius: 50%;
    background-color: var(--c-hover);
    box-shadow: var(--shadow-m);
  }
}

.scrollToBottom.show {
  overflow: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.unreadCount {
  position: absolute;
  top: -6px;
  right: -6px;

  background-color: var(--c-light);

  width: 20px;
  height: 20px;
  padding: var(--space-3);
  box-shadow: var(--shadow-s);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--text-sm);
  font-weight: 700;
}
