.sidebar {
  width: 10vw;
  max-width: 80px;
  min-width: 60px;
}

.sidebarItem {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 84px;

  & h3 {
    font-size: var(--text-xs);
    text-align: center;
    font-weight: 500;
  }

  & img {
    width: 34px;
    height: 34px;
    margin: 0 auto;
  }

  &:hover {
    background-color: var(--c-hover);
    cursor: pointer;
  }
}
