.messageWrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.message {
  padding: 10px;
  margin: 2px 0;
  border-radius: 5px;
  width: fit-content;
  font-size: var(--text-xl);
  background-color: var(--c-foreground);
  display: flex;
  box-shadow: var(--shadow-s);
  flex-direction: column;
  max-width: 50%;
  object-fit: cover;
}

.sentByCurrentUser {
  background-color: var(--c-light);
  margin-left: auto;
}

.check {
  align-self: flex-end;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  fill: red;
  margin-left: 5px;
}

.read {
  opacity: 1;
}

.createdAt {
  align-self: flex-end;
  font-size: var(--text-sm);
  color: var(--c-muted);
  margin-top: 2px;
  margin-left: 5px;
}

.textContainer {
  display: flex;
  & :first-child {
    overflow-wrap: anywhere;
  }
}

.rplyContainer {
  display: flex;
  flex-direction: column;
  background-color: color-mix(in oklch, var(--c-link) 20%, transparent);
  border-radius: var(--radius-sm);
  border-left: 4px solid var(--c-link);

  cursor: pointer;

  & h3 {
    font-size: var(--text-sm);
    font-weight: 500;
    margin-left: var(--space-1);
    margin-top: var(--space-1);
    color: var(--c-link);
  }

  & span {
    font-size: var(--text-sm);
    margin: var(--space-1);
    margin-top: 0;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: anywhere;
  }
}
