.profileContent {
  position: absolute;
}

.backIcon {
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--space-4);
  display: flex;
  justify-content: flex-end;
  & img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

.profileModalBody {
  padding: var(--space-4);
}
