.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 2px solid var(--selected-color, var(--c-link));
}

.avatarImg {
  height: 100%;
  border-radius: 50%;
}

.placeholderIcon {
  background-color: var(--c-border);
  padding: var(--space-2);
}

.selectedIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--selected-color, var(--c-link));
}
