.content {
  padding: var(--space-5);
  width: 350px;
}

.inputsContainer {
  display: flex;
  align-items: center;
}

.avatarUploader {
  position: relative;
  margin-right: var(--space-4);

  min-width: 75px;
  height: 75px;
}

.avatarUploaderButton {
  width: 30px;
  height: 30px;
}

.titleInput {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-5);
  gap: var(--space-4);
}

.selectedUsers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  align-items: center;
  justify-items: center;
  padding: var(--space-1) 0;
  gap: var(--space-1);
  margin-top: var(--space-2);
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--c-border) transparent;
}

.selectedUser {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-sm);
  padding: var(--space-1);
  &:hover {
    cursor: pointer;
    background-color: var(--c-hover);

    & .removeIcon {
      opacity: 1;
    }
  }

  & span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    overflow-wrap: anywhere;
  }
}

.removeIcon {
  position: absolute;
  padding: var(--space-3);
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.searchResults {
  height: 25vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--c-border) transparent;

  margin-top: var(--space-2);
}

.searchResult {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-2);
  width: 100%;
  border-radius: var(--radius-sm);

  cursor: pointer;

  & span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    overflow-wrap: anywhere;
  }

  &:hover {
    background-color: var(--c-hover);
  }
}

.avatar {
  min-width: 50px;
}
